

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}



    nav ul {
        list-style: none;
        width: 50%;
        padding: 20px;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        display: inline;
    }

    nav ul li a {
        font-size: 2.5vmin;
        font-style: italic;
        text-decoration: none;
        font-weight: light;

    }

    .text-white {
        color: #ffffff !important;
      }



footer {
    width: 100%;
    height: 100vh;
    background-color: #1D2071;
}

.side-bar{
    height: 100%;
    width: 15%;
    padding: 10px 40px;
    position: absolute;
    top: 0;
}

    .side-bar h3 {
        margin-top: 50px;
    }

    .side-bar ul {
        list-style: none;
        color: black;
    }

    .side-bar .simulator-link {
        display: flex;
        margin-top: 100px;
    }

        .side-bar .simulator-link img {
            width: 35px;
            height: auto;
        }

        .side-bar .simulator-link a {
            font-size: 2.5vmin;
            margin-right: 10px;
            font-style: italic;
        }
