* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.scroll-cursor {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #565656;
    background: rgba(217, 217, 217, 0.28);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    margin: 70px 0 0 0;
    z-index: 10;
}

.scroll-cursor p {
    user-select: none;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}



nav ul {
    list-style: none;
    width: 50%;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-size: 2.5vmin;
    font-style: italic;
    text-decoration: none;
    font-weight: light;

}

.text-white {
    color: #ffffff !important;
    }



.side-bar{
    height: 100%;
    width: 15%;
    padding: 10px 40px;
    position: absolute;
    top: 0;
}

.side-bar h3 {
    margin-top: 50px;
}

.side-bar ul {
    list-style: none;
    color: black;
}

.side-bar .simulator-link {
    display: flex;
    margin-top: 100px;
}

.side-bar .simulator-link img {
    width: 35px;
    height: auto;
}

.side-bar .simulator-link a {
    font-size: 2.5vmin;
    margin-right: 10px;
    font-style: italic;
}

footer {
    width: 100%;
    height: 100vh;
    background-color: #1D2071;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 600;
}

footer h1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 50px;
}

form {
    width: 70%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    max-height: 650px;
    padding: 50px;
    border-radius: 60px;
    background: #1D2071;
    box-shadow:  21px 21px 52px #0e1037,
                -21px -21px 52px #2c30ab;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: calc(100% - 20px);
    padding: 30px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 200px;
}

form input[type="submit"] {
    width: 40%;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.5vmin ;
    font-weight: 600;
    background-color: #ffffff;
    border: 3px solid #000000 double;
    color: #1D2071;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #93a1dd;
}


