* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}


/* HOME PAGE */

#home-page {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .hero-container{
        height: 100vh;
        width: 100%;
        background-size: cover;
    }

        .element-with-video-bg {
            height: 100%;
            width: 100%;
        }

        .my-background-video {
            height: 100%;
            width: 100%;
        }

        .element-with-video-bg video {
            z-index: -1;
        }

    .hero-overlay {
        width: 100%;
        height: 100%;
        background-image: url(../assets/imgs/overlay.svg);
        background-size: cover;
        background-position: bottom;
    }

    .side-bar{
        height: 100%;
        width: 15%;
        padding: 10px 40px;
        position: absolute;
        top: 0;
    }

        .side-bar h3 {
            margin-top: 50px;
        }

        .side-bar ul {
            list-style: none;
            color: black;
        }

        .side-bar .simulator-link {
            display: flex;
            margin-top: 100px;
        }

            .side-bar .simulator-link img {
                width: 35px;
                height: auto;
            }

            .side-bar .simulator-link a {
                font-size: 2.5vmin;
                margin-right: 10px;
                font-style: italic;
            }

    .sea-shore-parallax {
        height: 100vh;
        width: 100%;
    }

    .about {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        position: relative;
    }

        .about .about-img {
            width: 30%;
            height: 50vmin;
            display: flex;
            justify-content: center;
            z-index: 10;
        }


        .about p {
            width: 20%;
            font-style: normal;
        }



    .arrow-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 270vh;
    }
    
        path {
            width: 100%;
            stroke-dasharray: 2700;
            stroke-dashoffset: 2700;
            animation: draw 3s infinite alternate ease-in-out;
            stroke: #1D2071;
        }

        
    .running {
        width: 100%;
        margin-top: 230px;
        overflow-x: hidden;
    }

    .running ul {
        list-style: none;
        display: flex;
    }

    .running ul li {
        display: grid;
        place-items: center;
        flex-shrink: 0;
        margin-left: 25px;
    }

    .running ul li a {
        color: #000000;
        font-weight: 600;
        font-size: 120px;
        text-decoration: none;
    }

    /* WATERS PAGE */

    #waters-page {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #waters-page ul li a{
        color: white;
    }

    .hero-waters {
        /* background-image: url(../assets/imgs/sea.jpg); */
        background-size: cover;
        background-color: #5255a2;
        height: 100vh;
        width: 100%;
    }

    .hero-waters .side-bar {
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-waters .side-bar a {
        color: rgb(255, 255, 255);
    }


    .lake-section {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .lake-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .lake-image {
        width: 50%;
    }

    .lake-image img {
        width: 100%;
        height: 100%;
        background-color: #1D2071;
    }

    .lake-text {
        height: 50%;
    }

    .map {
        background-color: #1D2071;
        width: 100%;
        height: 50%;
    }

    #river .content {
        width: 100vw;
        height: 100vh;
        display: grid;
        flex-shrink: 0;
        place-items: center;
    }

    #river {
        display: flex;
        width: 100%;
    }

    #river .content:nth-child(1) {
        background: #1D2071;
    }

    #river .content:nth-child(2) {
        background: #373bad;
    }

    #river .content:nth-child(3) {
        background: #585cc2;
    }

    #river .content:nth-child(4) {
        background: #9496de;
    }
