* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


/* HOME PAGE */

#home-page {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* HERO ELEMENTS */

.hero-container{
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.element-with-video-bg {
    height: 100%;
    width: 100%;
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: -1;
}

.my-background-video {
    height: 100%;
    width: 100%;
}

.text {
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-size: 35vmin;
    margin: 0;
    right: 0;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    text-align: center; 
    mix-blend-mode: screen; 
}

.water-video {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* PARALLAX */

.sea-shore-parallax {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: white;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 70px;
    }
}



/* ABOUT ELEMENTS */

.about {
    min-height: 100vh;
    padding-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: relative;
}

.about-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.about .about-img {
    width: 30%;
    height: 50vmin;
    display: flex;
    justify-content: center;
    z-index: 10;
}


.about p {
    width: 20%;
    font-style: normal;
}



.arrow-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

path {
    width: 100%;
    height: auto;
    stroke-dasharray: 2700;
    stroke-dashoffset: 2700;
    animation: draw 3s infinite alternate ease-in-out;
    stroke: #1D2071;
    scale: 1;
    margin-bottom: 200px;
}

    
.running {
    width: 100%;
    overflow-x: hidden;
    margin-top: 150px;
}

.running ul {
    list-style: none;
    display: flex;
}

.running ul li {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    margin-left: 25px;
}

.running ul li a {
    color: #000000;
    font-weight: 600;
    font-size: 10vmin;
    text-decoration: none;
}


/* MEDIA QUERIES */

@media all and (max-width: 1900px) {
    .text {
        font-size: 30vmin;
    }
 }

@media all and (max-width: 1650px) {
    .text {
        font-size: 20vmin;
    }
 }

@media all and (max-width: 1200px) {
    .about-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .about-img {
        height: 30%;
        width: 70% !important;
    }
    
    
    .about p {
        width: 70%;
    }

    .running {
        margin-top: 0;
    }
 }

