* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


 /* WATERS PAGE */

 #waters-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.hero-waters {
    box-sizing: none;
    display: flex;
    /* background-image: url(../assets/imgs/sea.jpg); */
    background-size: cover;
    background-color: #8BCDDC;
    height: 100vh;
    width: 100%;
}

.hero-waters h2 {
    width: 100%;
    margin-right: 100px;
    margin-bottom: 200px;
}

.hero-waters .side-bar {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-waters .side-bar a {
    color: rgb(255, 255, 255);
}

.hero-waters .side-bar ul {
    margin: 0;
    padding: 0;
}

.hero-waters h2 {
    margin: 0;
    padding: 0;
    line-height: 90%;
}


.lake-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.lake-section h3{
    font-size: 4vmin;
    margin: 0;
    padding: 0;
}

.lake-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.lake-image {
    width: 50%;
}

.lake-image img {
    width: 100%;
    height: 100%;
    background-color: #1D2071;
}

.map {
    width: 100%;
    height: 50%;
}

#river .content {
    width: 100%;
    height: 100vh;
    display: grid;
    flex-shrink: 0;
    place-items: center;
}

#river {
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    background-size: cover;
    background-image: url(../assets/imgs/river-bg.png);
}

#river .content p {
    padding: 70px;
    width: 60%;
    color: #ffffff;
}

#river .content:nth-child(1) {
    background: #ffffff;
    margin: 0;
    padding: 0;
    place-items: end;
    align-items: center;
}

#river .content:nth-child(1) h3{
    transform: rotate(-90deg);
    font-size: 17vmin;
    margin: 0;
    padding: 0;
}

#river .content:nth-child(2) {
    place-items: start;
}

#river .content:nth-child(3) {
    text-align: right;

}

#river .content:nth-child(4) {
    place-items: end;
}

#sea {
    padding: 100px;
    background-image: url(../assets/imgs/sea-bg.png);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100vh;
}

#sea .heading {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 100px;
}

#sea .heading h3 {
    font-size: 6vmin;
    margin: 0;
}

.fish-tank {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.fish {
    display: flex;
    align-items: center;
    width: 600px;
    color: #ffffff;
}

.fish-pic {
    width: 50%;
}

.fish-pic img {
    width: 100%;
    height: auto;
}

.fish-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.fish-depth {
    display: flex;
    width: 100%;
    align-items: center;
}

.depth {
    margin-left: 50px;
}

.fish:nth-child(1) {
    margin-right: 50%;
}
.fish:nth-child(2) {
    margin-left: 50%;
}
.fish:nth-child(3) {
    margin-right: 50%;
}
.fish:nth-child(4) {
    margin-left: 50%;
}
.fish:nth-child(5) {
    margin-right: 50%;
}
.fish:nth-child(6) {
    margin-left: 50%;
}

#ocean {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 600;
    background-color: #E7EBEE;
}

#ocean h3 {
    font-size: 6vmin;
    margin: 0;
}

#ocean p {
    width: 40%;
    text-align: center;
}

.drag-item {
    width: 30vmin;
    height: 30vmin;
    position: absolute;
    cursor: pointer;
}

.drag-item img {
    width: 100%;
    height: auto;
}



