* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

 /* WATERS PAGE */

 #waters-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#waters-page ul li a{
    color: white;
}

.hero-waters {
    /* background-image: url(../assets/imgs/sea.jpg); */
    background-size: cover;
    background-color: #5255a2;
    height: 100vh;
    width: 100%;
}

.hero-waters .side-bar {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-waters .side-bar a {
    color: rgb(255, 255, 255);
}


.lake-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.lake-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.lake-image {
    width: 50%;
}

.lake-image img {
    width: 100%;
    height: 100%;
    background-color: #1D2071;
}

.lake-text {
    height: 50%;
}

.map {
    background-color: #1D2071;
    width: 100%;
    height: 50%;
}

#river .content {
    width: 100vw;
    height: 100vh;
    display: grid;
    flex-shrink: 0;
    place-items: center;
}

#river {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

#river .content:nth-child(1) {
    background: #1D2071;
}

#river .content:nth-child(2) {
    background: #373bad;
}

#river .content:nth-child(3) {
    background: #585cc2;
}

#river .content:nth-child(4) {
    background: #9496de;
}
